

.soup-section{
	background-color:#000;
	color: #fff;
	text-align: center;
}

.soup-section h1{
	color: #ff0000;
	padding:20px 0;
	font-size:30px;
}
.soup-section h6{
	font-size:20px;
	padding: 0 0 10px 0;
}
.soup-section p{
	font-size:16px;
	padding-bottom:50px; 
}

